/**
 * ========================================
 * BENEFITS
 * ========================================
 */

.benefits-section {
	background-color: #f6f6f6;

	.section-heading {
		padding-top: 60px;
	}

	.benefit {
		text-align: center;
		padding: 30px;
		background-color: $white;
		margin: 15px 0;

		.benefit-title {
			font-family: "Montserrat", sans-serif;
			font-size: 14px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		.benefit-icon {
			font-size: 48px;
			margin-bottom: 15px;
			color: $brand-primary;
		}
	}
}