// Glyphicons font path
$icon-font-path:		"../fonts/";

// Grid settings
$main-sm-columns:		12;
$sidebar-sm-columns:	4;

// Colors
$brand-primary:			#C30A00;//#F3AE73
$primary-hover:			#c32017;
$white:					#FFF;
$light-gray:			#CDCCCC;
$gray:					#444;
$black:					#000;
$more-gray:				#222;
$blue:					#2F6EF3;
$blog-title:			#121212;
$author-name:			#DAA520;
$theme-post:			#5BC0DE;

// Sizes
$indent:				10px;
$blog-title-size:		38px;

// Contacts
$font:					"Montserrat";