.header-section {
	position: fixed;
	z-index: 100;
	min-height: 80px;
	margin: 0;
	padding: 0;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
	overflow: visible;
	border: none;
	background-color: rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px rgba(255,255,255,0.1);
	box-shadow: 0 1px rgba(255,255,255,0.1);
	color: #ccc;
}


header.affix {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: rgba(0,0,0,0.85);
	min-height: 60px;

	.navbar-logo {
		@media (min-width: $screen-sm-min) {
			padding: 8px 15px 12px;
			height: 60px;
			line-height: 40px;
		}
	}

	.navbar-nav li {
		@media (min-width: $screen-sm-min) {
			padding-top:20px;
			padding-bottom:20px;
		}
	}
}


.navbar-nav {
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	line-height: 1.819;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	li {
		padding: 30px 15px;
		-webkit-transition: all ease 0.25s;
		transition: all ease 0.25s;

		a {
			padding: 0;
			position: relative;
			color: inherit;
			line-height: inherit;
			position: relative;
			font-weight: normal;
			color: #ccc;

			&:hover {
				background-color: inherit;
				color: #fff;
			}
		}
	}
	
	.open > a {
		background-color: inherit !important;
	}
}

.navbar-logo {
	height: 80px;
	line-height: 50px;
	margin-left: 0 !important;
	padding: 12px 15px 18px;

	img {
		display: inline-block;
		vertical-align: middle;
		max-height: 50px;
	}
}

.navbar-toggle {
	position: relative;
	z-index: 200;
	margin: 20px 15px;
	padding: 12px 10px;
	border-radius: 0;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
	border-color: rgba(255,255,255,0.25);

	&:hover, :focus {
		background-color: transparent !important;
		border-color: #fff;

		.icon-bar {
			background-color: #fff;
		}
	}

	.icon-bar {
		background-color: #ccc;
	}
}

.dropdown-menu {
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
	background-color: rgba(0,0,0,0.85);
	border: 1px solid rgba(255,255,255,0.1);
	font-size: inherit;

	>li {
		padding: 0!important;

		>a {
			padding: 10px 20px;
			color: #ccc;

			&:hover, :focus {
				color: #fff;
				background-color: rgba(255,255,255,0.1);
			}
		}
	}
}

@media ( max-width: $screen-xs-max) {

	.navigation {
		position: fixed;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: 100% !important;
		max-height: none !important;
		margin: 0 !important;
		display: block !important;
		opacity: 0;
		padding-top: 80px;
		text-align: center;
		-webkit-transition: all ease 0.25s !important;
		transition: all ease 0.25s !important;
		background-color: rgba(0,0,0,0.95);
	}

	.navigation.collapse.in {
		bottom: 0;
		opacity: 1;
	}

	.navigation:before {
		content: "";
		display: inline-block;
		width: 1px;
		vertical-align: middle;
	}

	.navbar-nav {
		display: inline-block;
		vertical-align: middle;
		width: 99%;
		padding-bottom: 40px;
		margin-top: 0;
		margin-bottom: 0;

		>li {
			-webkit-transition: none;
			transition: none;
			padding: 0;

			>a {
				padding: 15px;

				&:hover, :focus {
					background-color: rgba(255,255,255,0.1);
					color: #fff;
				}
			}
		}
	}

	.dropdown-menu {
		text-align: center;

		>li {
			>a {
				padding: 15px 15px !important;
			}
		}
	}
}