/**
 * ========================================
 * PRICING TABLE
 * ========================================
 */
.pricing-table {
	list-style: none;
	padding: 0;
	margin: 60px 0 0;
}

.pricing-package {
	background-color: #fff;
	position: relative;
	margin: 40px 0 0;
	text-align: center;

	@media (max-width: $screen-md-max) {
		margin-top: 0;
	}

	&.pricing-package-featured {
		margin-top: 0;

		.pricing-package-header {
			border-bottom-width: 45px;
		}
	}

	.pricing-package-header {
		background-color: #222;
		border-bottom: 5px solid $brand-primary;

		.price-title {
			margin: 0;
			padding: 17px 30px;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: rgba(255,255,255,0.1);
			font-family: "Montserrat", sans-serif;
			font-size: 14px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #fff;
		}

		.price {
			padding: 27px 30px 17px;
			color: #fff;
			font-family: "Montserrat", sans-serif;
			font-weight: bold;
			line-height: 0.7;
			letter-spacing: 0.05em;

			.price-currency {
				vertical-align: bottom;
				font-size: 30px;
			}

			.price-number {
				vertical-align: bottom;
				font-size: 80px;
			}

			.price-decimal {
				vertical-align: top;
				font-size: 30px;
			}
		}

		.price-description {
			padding: 0 30px 26px;
			font-style: italic;
			color: #888;
		}
	}

	.price-featured {
		position: absolute;
		width: 100%;
		padding: 10px 30px 11px;
		font-family: "Montserrat", sans-serif;
		font-size: 14px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #fff;
		background-color: $brand-primary;

		@media (max-width: $screen-md-max) {
			margin-top: 40px;
		}
	}

	.pricing-package-items {
		background-color: #F6F6F6;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: 10px 30px;
			border-top: 1px solid rgba(0,0,0,0.05);

			&:first-child {
				border-top: none;
			}
		}

		del {
			text-decoration: none;
			opacity: 0.4;
		}
	}
}



// .section-dark .pricing-package-header,
// .section-accent .pricing-package-header {
// 	border-bottom-color: #fff;
// }

// .section-dark .price-title {
// 	border-bottom-color: rgba(255,255,255,0.2);
// }
